nav{
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    color: grey;
    margin:auto;
    align-items: center;
    margin-top: 40px;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 2px 15px 80px 15px rgb(218, 218, 218);
    
}
nav h2{
    margin-left: 27px;
}
ul{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    margin-right: 23px;
}
